#ProjectUshi UCF File
NET "*" IOSTANDARD = "LVCMOS33";

NET "CLK_60M" LOC="P126";
NET "CLK_60M" IOSTANDARD="LVCMOS33";

NET "CLK_60M" TNM_NET = CLK_60M;

TIMESPEC TS_CLK_60M = PERIOD "CLK_60M" 16.7 ns HIGH 50%;

NET "AFE_DL<0>"  LOC = "P74";
NET "AFE_DL<1>"  LOC = "P75";
NET "AFE_DL<2>"  LOC = "P78";
NET "AFE_DL<3>"  LOC = "P79";
NET "AFE_DL<4>"  LOC = "P80";
NET "AFE_DL<5>"  LOC = "P81";
NET "AFE_DL<6>"  LOC = "P82";
NET "AFE_DL<7>"  LOC = "P83";
NET "AFE_DL<8>"  LOC = "P84";
NET "AFE_DL<9>"  LOC = "P85";
NET "AFE_DL<10>" LOC = "P87";
NET "AFE_DL<11>" LOC = "P88";
NET "AFE_DL<12>" LOC = "P92";
NET "AFE_DL<13>" LOC = "P93";

NET "AFE_DR<0>"  LOC = "P94";
NET "AFE_DR<1>"  LOC = "P95";
NET "AFE_DR<2>"  LOC = "P97";
NET "AFE_DR<3>"  LOC = "P98";
NET "AFE_DR<4>"  LOC = "P99";
NET "AFE_DR<5>"  LOC = "P100";
NET "AFE_DR<6>"  LOC = "P101";
NET "AFE_DR<7>"  LOC = "P102";
NET "AFE_DR<8>"  LOC = "P104";
NET "AFE_DR<9>"  LOC = "P105";
NET "AFE_DR<10>" LOC = "P111";
NET "AFE_DR<11>" LOC = "P112";
NET "AFE_DR<12>" LOC = "P114";
NET "AFE_DR<13>" LOC = "P115";

NET "AFE_DCLK"   LOC = "P46";
NET "AFE_HD"     LOC = "P47";
NET "AFE_PBLK"   LOC = "P48";
NET "AFE_CLPOB"  LOC = "P50";
NET "AFE_SHP"    LOC = "P51";
NET "AFE_SHD"    LOC = "P55";
NET "AFE_CLPDM"  LOC = "P56";
NET "AFE_VD"     LOC = "P57";

NET "CCD_HL"     LOC = "P117";
NET "CCD_H1"     LOC = "P118";
NET "CCD_H2"     LOC = "P119";
NET "CCD_RG"     LOC = "P120";
NET "CCD_FD"     LOC = "P121";
NET "CCD_SHUT"   LOC = "P123";
NET "CCD_nXV1"   LOC = "P43";
NET "CCD_nXV2"   LOC = "P44";
NET "CCD_nXSG2"  LOC = "P45";

NET "CPU_SCLK"   LOC = "P27";
NET "CPU_MOSI"   LOC = "P29";
NET "CPU_RST"    LOC = "P30";

NET "CPU_PCLK"   LOC = "P5";
NET "CPU_VSYNC"  LOC = "P6";
NET "CPU_HSYNC"  LOC = "P7";
NET "CPU_VD<0>"  LOC = "P8";
NET "CPU_VD<1>"  LOC = "P9";
NET "CPU_VD<2>"  LOC = "P10";
NET "CPU_VD<3>"  LOC = "P11";
NET "CPU_VD<4>"  LOC = "P12";
NET "CPU_VD<5>"  LOC = "P14";
NET "CPU_VD<6>"  LOC = "P15";
NET "CPU_VD<7>"  LOC = "P16";
NET "CPU_VD<8>"  LOC = "P17";
NET "CPU_VD<9>"  LOC = "P21";
NET "CPU_VD<10>" LOC = "P22";
NET "CPU_VD<11>" LOC = "P23";
NET "CPU_VD<12>" LOC = "P24";
NET "CPU_VD<13>" LOC = "P26";

NET "LED<0>"     LOC = "P137";
NET "LED<1>"     LOC = "P138";
NET "LED<2>"     LOC = "P139";
NET "LED<3>"     LOC = "P140";