[submodule "hardware/pcb_common"]
	path = hardware/pcb_common
	url = git@gitlab.com:zephray/pcb_common
[submodule "gateware/rtl/mulib"]
	path = gateware/rtl/mulib
	url = git@gitlab.com:zephray/mulib
[submodule "gateware/rtl/verilog-axi"]
	path = gateware/rtl/verilog-axi
	url = https://github.com/alexforencich/verilog-axi
